<mat-sidenav-container
  class="sidenav-container"
  style="background-color: transparent !important"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    style="box-shadow: black 5px 5px 5px !important"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
  <mat-toolbar style="padding: 0;" class="white">

    <span class="titlenav">Planilla GT</span>
    <span class="example-spacer"></span>
    <div class="photo">
      <img class=" mat-elevation-z5" [src]="user?.photoURL ? user?.photoURL : urlPhoto " style="width: -webkit-fill-available;">
    </div>
  </mat-toolbar>
  <hr class="hr3">
    <mat-nav-list style="padding-top: 0 !important;">
      <a mat-list-item class="item" routerLink="/inicio" routerLinkActive="active mat-elevation-z3">
        Inicio
        <span class="example-spacer"></span>
        <mat-icon matSuffix>home</mat-icon>
      </a>
      <a mat-list-item class="item" routerLink="/puestos" routerLinkActive="active mat-elevation-z3">
        Puestos
        <span class="example-spacer"></span>
        <mat-icon matSuffix>badge</mat-icon>
      </a>
      <a mat-list-item class="item" routerLink="/empleados" routerLinkActive="active mat-elevation-z3">
        Empleados
        <span class="example-spacer"></span>
        <mat-icon matSuffix>group</mat-icon>
      </a>
      <a mat-list-item class="item" routerLink="/planillas" routerLinkActive="active mat-elevation-z3">
        Planillas
        <span class="example-spacer"></span>
        <mat-icon matSuffix>request_quote</mat-icon>
      </a>
      <a mat-list-item class="item" routerLink="/ajustes" routerLinkActive="active mat-elevation-z3">
        Ajustes
        <span class="example-spacer"></span>
        <mat-icon matSuffix>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: white; color: #1e364d">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="titlenav">
          {{
            this.user?.displayName ? this.user?.displayName : this.user?.email
          }}
      </span>
    </mat-toolbar>
    <div class="col-md-11 col-lg-11 col-sm-11 col-11 cristal mat-elevation-z2">
      <router-outlet></router-outlet>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="fixed-plugin">
  <button
    (click)="logOut()"
    matTooltip="Cerrar Sesión"
    matTooltipPosition="left"
    mat-icon-button
    type="button"
  >
    <mat-icon matSuffix>logout</mat-icon>
  </button>
</div>
