<h1 mat-dialog-title>{{data.message.titulo}}</h1>
<div mat-dialog-content>
  <div style="margin: 0; text-align: center;" [class]="data.message.class" role="alert">
    {{data.message.message}}
  </div>
</div>
<div *ngIf="data.message.type == 'alert'" mat-dialog-actions>
  <button type="button" style="margin-left: auto;" mat-raised-button mat-dialog-close>Aceptar</button>
</div>
<div *ngIf="data.message.type == 'delete'" mat-dialog-actions>
  <button type="button" style="margin-left: auto;" mat-raised-button mat-dialog-close>Cancelar</button>
  <button type="button" style="margin-left: 10px;" color="warn" (click)="accept()" mat-raised-button>Aceptar</button>
</div>
