<br /><br /><br /><br /><br />
<div class="col-md-5 col-sm-10 text-center cristal">
  <!-- background: #e0e0e0;  -->
  <!-- <p>
    <mat-toolbar color="primary" style="border-radius: 50px 50px 0px 0px">
      <span style="margin: auto">INICIAR SESIÓN</span>
    </mat-toolbar>
  </p> -->
  <img
    src="../../../assets/style/Sin título-2.png"
    style="margin-top: -70px"
    width="25%"
  />
  <br />
  <h1 class="titulo">Planilla GT</h1>
  <mat-divider></mat-divider>

  <br />
  <br /><br />
  <button style="width: 100%" mat-flat-button color="primary" (click)="clickGoogle()">
    Iniciar Sesión
  </button>
  <button (click)="logOut()" mat-flat-button color="warning">Salir</button>
</div>
