<br /><br /><br /><br /><br />
<div class="col-md-5 col-sm-10 text-center cristal">
  <img
    src="../../../assets/style/Sin título-2.png"
    style="margin-top: -70px"
    width="25%"
  />
  <br />
  <h1 class="titulo">Planilla GT</h1>
  <hr class="hr3">
  <form [formGroup]="formLogin" (ngSubmit)="clickEmailPass()">
    <mat-form-field class="full" appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input formControlName="email" type="email" matInput />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-hint class="text-danger" *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.errors?.required">
        <p>El correo electrónico es requerido.</p>
      </mat-hint>
      <mat-hint class="text-danger" *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.errors?.pattern">
        <p>El correo electrónico no es válido.</p>
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="full" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="pass" matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint class="text-danger" *ngIf="formLogin.get('pass')?.touched && formLogin.get('pass')?.errors?.required">
        <p>La contraseña es requerida.</p>
      </mat-hint>

    </mat-form-field>
    <button style="margin-top: 10px; margin-bottom: 15px;" type="submit" [disabled]="!formLogin.valid" mat-flat-button color="primary" class="full">Iniciar Sesión</button>
  </form>
  <!--    <button (click)="logOut()" mat-flat-button color="warning">Salir</button> -->
  <hr class="hr5">
  <button  matTooltip="Iniciar Sesión con Google" (click)="clickGoogle()" type="button" mat-stroked-button  class="full"><i class="fab fa-google"></i></button>
</div>
