<h1 class="font-monospace" style="font-weight: bold;">Bienvenido</h1>
<mat-divider></mat-divider>

<div class="row">
  <div class="col-md-8 divv" style="font-size: 17px;">
    <p align="justify" style="font-size: larger;">
      La aplicación Web <strong>Planilla GT</strong>, es un sistema elaborado como parte del proyecto de tesis del alumno: <strong>Andreé Alessandro Espinoza</strong>.
      Que forma parte de la <strong>Universidad Mariano Gálvez de Guatemala</strong> con sede en Guastatoya.
    </p>
    <p align="justify" style="font-size: larger;">Esta aplicación tiene el objetivo de facilitar a las micro y pequeñas empresas de Guatemala el uso de un sistema para gestionar el pago de planilla de las mismas.</p>
    <p align="justify" style="font-size: larger;">Por motivos de sostenibilidad, la aplicación contará con un periodo de prueba gratuito, empezando desde el día de lanzamiento hasta el día <strong>1 de diciembre del año 2,022 (La fecha puede variar según el uso del sistema).</strong> Donde empezará a tener un precio el uso del sistema.</p>
    <p align="justify" style="font-size: larger;">El precio final cómo el sistema estarán sujetos a cambios, todo lo relacionado a esto será notificado con tiempo.</p>
  </div>

  <div class="col-md-4 divv">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>UMG</mat-card-title>
        <mat-card-subtitle>Sede Guastatoya</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/style/logoumg.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p align="justify">
          Para mandar comentarios y solicitudes relacionados al sistema de Planilla GT, puede contactarse al siguiente correo:
          <strong>planillagt@gmail.com</strong>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
